---
layout: layout.njk
title: Governor Keywords Filter
---
{% from './_includes/_components.njk' import keywordcards,keywordheader,keywordfilter  %}
<div class="ny-flex ny-flex-col">
    <section class="ny-bg-ny-blue-second ny-p-10">
        {{keywordheader({
                keyword: "Coronavirus"
        })  
        }}
    </section>
    <div class="ny-flex ny-flex-col lg:ny-flex-row">
        <div class="ny-w-full lg:ny-w-1/4 ny-bg-black lg:ny-p-8 ny-text-white">
            {{keywordfilter({
                filter:[
                    {
                        name: "filter",
                        terms: [
                            {
                                term: "Press Release"
                            },
                            {
                                term: "Schedule"
                            },
                            {
                                term: "Executive Order"
                            },
                            {
                                term: "Legislation"
                            }
                        ]
                    },
                    {
                        name: "refine"
                    },
                    {
                        name: "date range"
                    }
                ]
            })  
            }}
        </div>
        <div class="ny-p-5 lg:ny-p-10 lg:ny-w-3/4">
            {{keywordcards({
                filtercard: [
                    {
                        type: "event",
                        month: "dec",
                        day: "15",
                        longdate: "Dec 15, 2022",
                        time: "10:00 AM",
                        location: "875 Erskine Street, Brooklyn, NY 11239",
                        keyword: "Governor",
                        title: "Governor Hochul is in New York City ",
                        image: "https://www.governor.ny.gov/sites/default/files/styles/results/public/thumbnails/image/AlbanyAerial3_hero.jpg?h=fd99c4f7&amp;itok=yfA147fI",
                        imagealt: "New York City Skyline",
                        imageplaceholder:"/img/placeholder/NYGov_Events_Square.png",
                        description:"",
                        link:"https://www.governor.ny.gov/schedule/governor-hochul-new-york-city-159"
                    },
                    {
                        type: "news",
                        longdate: "Dec 159, 2022",
                        time: "11:49 AM",
                        keyword: "Press Release",
                        title: "Governor Hochul Announces Transformative $1.2 Billion Development to Create 2,400 Affordable Homes, Medical Clinic, Retail in East New York",
                        image: "https://www.governor.ny.gov/sites/default/files/styles/results/public/2022-12/Developmental_Center_Aerial_Rendering_1280.jpg?h=b5f6a62e&itok=ZvuIkFTU",
                        imagealt: "Brooklyn Developmental Center Aerial Rendering",
                        imageplaceholder:"/img/placeholder/NYGov_Newspaper_Square.png",
                        description:"",
                        link:"https://www.governor.ny.gov/news/governor-hochul-announces-transformative-12-billion-development-create-2400-affordable-homes"
                    }
                ]
            })  
            }}
        </div>
    </div>
</div> 