---
layout: layout.njk
title: Style Simple Keywords
---
<a id="main-content" tabindex="-1"></a>
<div class="layout-content">
    <div class="region region-content">
        <div data-drupal-messages-fallback class="hidden"></div>
        <div class="views-element-container ny-w-2/3 ny-m-auto ny-my-8"> 
            <div class="view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-3b54a89a08c54e8b1967703a6b43349cb9b19cb06750452e1ddcc9e4b8f4cb27 ">
                <div class="view-content">
                    <div class="views-row ny-bg-ny-light ny-rounded-[30px] ny-p-8 ny-border-ny-mid ny-border-solid">
                        <div class="views-field views-field-title">
                            <h2 class="field-content ">
                                <a class="ny-text-[20px] ny-font-bold ny-text-ny-links" href="/schedule/testing-filter-card-descriptions-testing-filter-card-descriptions-testing-filter-card" hreflang="en">
                                    Testing Filter Card Descriptions Testing Filter Card Descriptions Testing Filter Card Descriptions Testing Filter Card Descriptions
                                </a>
                            </h2>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">Scheduled Event</span></div>
                        <div class="views-field views-field-field-se-description">
                            <div class="field-content">
                                <p>This is where the description field will now display. This is where the description field will now display. This is where the description field will now display. This is where the description field...</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range">
                            <div class="field-content"><time datetime="2022-12-02T20:55:06Z" class="datetime">December 2, 2022 at 3:55 PM</time></div>
                        </div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/governor-hochul-announces-nearly-79-million-help-new-york-farms-address-impacts-climate-change" hreflang="en">
                                    Governor Hochul Announces Nearly $7.9 Million to Help New York Farms Address Impacts of Climate Change
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>Governor Hochul announced nearly $7.9 million is being awarded through the Climate Resilient Farming Grant Program to help over 70 farms across the state reduce their environmental footprints and...</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/governor-hochul-issues-proclamation-celebrating-climate-week-new-york-state" hreflang="en">Governor Hochul Issues Proclamation Celebrating Climate Week in New York State</a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>Governor Hochul issued a <a href="https://www.governor.ny.gov/sites/default/files/2022-09/Climate_Week_2022.pdf">proclamation</a> announcing September 19-25, 2022 as Climate Week in New York State.</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/governor-hochul-announces-new-york-state-awarded-60-million-federal-funds-advance-smart" hreflang="en">
                                    Governor Hochul Announces New York State Awarded $60 Million in Federal Funds to Advance Smart Climate Practices for New York Farms and Forests
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>Governor Hochul announced the New York State initiative, NYS Connects: Climate Smart Farms and Forests Project, was awarded a $60 million grant under the first round of the U.S. Department of...</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/spanish-translation-la-gobernadora-hochul-anuncia-10-millones-en-financiacion-para-el-centro" hreflang="en">
                                    Spanish Translation: La Gobernadora Hochul Anuncia $10 Millones En Financiación Para El Centro De Innovación De La Moda Durante La Semana De La Moda De Nueva York
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>La gobernadora Hochul anunció hoy $10 millones en fondos estatales para el Fashion Innovation Center, que promoverá un enfoque de colaboración para utilizar textiles inteligentes y sostenibles...</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/governor-hochul-announces-10-million-funding-fashion-innovation-center-during-new-york-fashion" hreflang="en">
                                    Governor Hochul Announces $10 Million in Funding for Fashion Innovation Center During New York Fashion Week
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>
                                    Governor <span>Hochul</span> announced $10 million in State funding for the Fashion Innovation Center, which will promote a collaborative approach to utilizing New York State-produced smart and
                                    sustainable...
                                </p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/b-roll-video-audio-photos-rush-transcript-governor-hochul-breaks-ground-347-million-project" hreflang="en">
                                    B-Roll, Video, Audio, Photos &amp; Rush Transcript: Governor Hochul Breaks Ground on $34.7 Million Project to Upgrade Agricultural Facilities at The New York State Fairgrounds
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>
                                    <span>
                                        <span>
                                            <span>
                                                <span>
                                                    <span>
                                                        <span>
                                                            <span>
                                                                Earlier, Governor Hochul announced the beginning of the fourth phase of improvements at the New York State Fairgrounds, a $34.7 million project to improve agricultural
                                                                facilities at the Fairgrounds in...
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/governor-hochul-breaks-ground-347-million-project-upgrade-agricultural-facilities-new-york" hreflang="en">
                                    Governor Hochul Breaks Ground on $34.7 Million Project to Upgrade Agricultural Facilities at The New York State Fairgrounds
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>
                                    <span>
                                        <span>
                                            <span>
                                                <span>
                                                    Governor <span>Hochul</span> announced the beginning of the fourth phase of improvements at the New York State Fairgrounds, a $34.7 million project to improve agricultural facilities at
                                                    the Fairgrounds in Syracuse...
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/photos-governor-hochul-visits-mapleview-dairy-part-statewide-future-farming-listening-tour" hreflang="en">
                                    Photos: Governor Hochul Visits Mapleview Dairy as Part of Statewide Future of Farming Listening Tour
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>Governor <span>Hochul</span> visited <span>Mapleview</span> Dairy in Madrid as part of the statewide Future of Farming Listening Tour.</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                    <div class="views-row">
                        <div class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/news/video-audio-photos-rush-transcript-governor-hochul-kicks-statewide-listening-tour-address" hreflang="en">
                                    Video, Audio, Photos &amp; Rush Transcript: Governor Hochul Kicks Off Statewide Listening Tour to Address Future of Farming in New York State
                                </a>
                            </span>
                        </div>
                        <div class="views-field views-field-type"><span class="field-content">News</span></div>
                        <div class="views-field views-field-field-se-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-s-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-p-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-n-description">
                            <div class="field-content">
                                <p>Governor Kathy <span>Hochul</span> launched a statewide listening tour on the future of farming in New York State.</p>
                            </div>
                        </div>
                        <div class="views-field views-field-field-lp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-l-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-gp-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-e-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-ap-description"><div class="field-content"></div></div>
                        <div class="views-field views-field-field-se-date-range"><div class="field-content"></div></div>
                    </div>
                </div>

                <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
                    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                    <ul class="pager__items js-pager__items">
                        <li class="pager__item is-active">
                            <a href="?page=0" title="Current page">
                                <span class="visually-hidden">
                                    Current page
                                </span>
                                1
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=1" title="Go to page 2">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                2
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=2" title="Go to page 3">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                3
                            </a>
                        </li>
                        <li class="pager__item pager__item--next">
                            <a href="?page=1" title="Go to next page" rel="next">
                                <span class="visually-hidden">Next page</span>
                                <span aria-hidden="true">››</span>
                            </a>
                        </li>
                        <li class="pager__item pager__item--last">
                            <a href="?page=2" title="Go to last page">
                                <span class="visually-hidden">Last page</span>
                                <span aria-hidden="true">Last »</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
