---
layout: layout.njk
title: Style Simple Keywords
---
{% from './_includes/_components.njk' import limited %}
<a id="main-content" tabindex="-1"></a>
<div class="layout-content">
    <div class="region region-content ny-flex ny-flex-col ny-justify-center"> <!-- EDITED HERE -->
        <div data-drupal-messages-fallback class="hidden"></div>

        <section class="ny-bg-ny-blue-second ny-p-10"><!-- EDITED HERE -->
            <h2 class="ny-flex ny-flex-col ny-items-center ny-m-0 ny-text-center">
            <span class="text-oswald ny-uppercase ny-text-base ny-tracking-[2px]">
                Keyword
            </span>
            <span class="ny-text-5xl ny-mt-[10px]  ny-text-white ny-font-extrabold">
                State of The State 2022
            </span>
            </h2>
        </section>

        <div class="views-element-container ny-mb-8"> <!-- EDITED HERE -->
            <div class="view view-taxonomy-term view-id-taxonomy_term view-display-id-page_1 js-view-dom-id-3b54a89a08c54e8b1967703a6b43349cb9b19cb06750452e1ddcc9e4b8f4cb27">
                <div class="view-content !ny-flex ny-flex-col ny-justify-center ny-items-center ny-mt-8"><!-- EDITED HERE -->
                    <div class="ny-w-11/12 lg:ny-w-2/3">
                        <div class="ny-mb-8">
                            <span class="ny-text-[42px] ny-text-ny-blue ny-font-extrabold">1,234 Results</span>
                        </div>
                        {{limited ({ 
                            cards: [
                                {
                                    type: "News",
                                    keyword: "News",
                                    title:"Governor Hochul Announces Nearly $7.9 Million to Help New York Farms Address Impacts of Climate Change",
                                    description:"Governor Hochul announced nearly $7.9 million is being awarded through the Climate Resilient Farming Grant Program to help over 70 farms across the state reduce their environmental footprints and",
                                    date:"December 2, 2022 at 3:55 PM",
                                    link:"https://governor.ny.gov"
                                },
                                {
                                    type: "News",
                                    keyword: "News",
                                    title:"B-Roll, Video, Audio, Photos & Rush Transcript: Governor Hochul Breaks Ground on $34.7 Million Project to Upgrade Agricultural Facilities at The New York State Fairgrounds",
                                    description:"Earlier, Governor Hochul announced the beginning of the fourth phase of improvements at the New York State Fairgrounds, a $34.7 million project to improve agricultural facilities at the Fairgrounds in",
                                    date:"December 1, 2022 at 12:55 PM",
                                    link:"https://governor.ny.gov"
                                },
                                {
                                    type: "Program",
                                    keyword: "Education and Arts, Governor's Initiatives, Health",
                                    title:"Nurses for Our Future Scholarship",
                                    description:"The Nurses for Our Future program will recruit and retrain nursing and health care professionals, with tuition completely covered.",
                                    date:"December 1, 2022 at 12:55 PM",
                                    link:"https://governor.ny.gov"
                                }
                            ]
                        })  
                        }}
                    </div>
                </div>


                <nav class="pager ny-mt-6 ny-mx-12" role="navigation" aria-labelledby="pagination-heading">
                    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                    <ul class="pager__items js-pager__items ny-text-[14px] ny-px-0">
                        <li class="pager__item pager__item--first">
                            <a href="?page=0" title="Go to first page">
                                <span class="visually-hidden">First page</span>
                                <span aria-hidden="true">« First</span>
                            </a>
                        </li>
                        <li class="pager__item pager__item--previous">
                            <a href="?page=21" title="Go to previous page" rel="prev" class="ny-font-bold">
                                <span class="visually-hidden">Previous page</span>
                                <span aria-hidden="true">‹‹</span>
                            </a>
                        </li>
                        <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
                        <li class="pager__item">
                            <a href="?page=18" title="Go to page 19" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                19
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=19" title="Go to page 20" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                20
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=20" title="Go to page 21" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                21
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=21" title="Go to page 22" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                22
                            </a>
                        </li>
                        <li class="pager__item is-active">
                            <a href="?page=22" title="Current page" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Current page
                                </span>
                                23
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=23" title="Go to page 24" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                24
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=24" title="Go to page 25" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                25
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=25" title="Go to page 26" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                26
                            </a>
                        </li>
                        <li class="pager__item">
                            <a href="?page=26" title="Go to page 27" class="ny-font-bold">
                                <span class="visually-hidden">
                                    Page
                                </span>
                                27
                            </a>
                        </li>
                        <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
                        <li class="pager__item pager__item--next">
                            <a href="?page=23" title="Go to next page" rel="next" class="ny-font-bold">
                                <span class="visually-hidden">Next page</span>
                                <span aria-hidden="true">››</span>
                            </a>
                        </li>
                        <li class="pager__item pager__item--last">
                            <a href="?page=194" title="Go to last page" class="ny-font-bold">
                                <span class="visually-hidden">Last page</span>
                                <span aria-hidden="true">Last »</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
