<div class="">
    {% for filteritem in params.filter %}
        {% if filteritem.name === "filter" %}
            <div class="">
                <h3 class="text-oswald ny-text-ny-gold ny-uppercase ny-text-base ny-mb-6">{{filteritem.name}}</h3>
            {% for term in filteritem.terms%}
            <p>{{term.term}}</p>
            {%endfor%}
            </div>
            <hr class="ny-my-8 ny-border-ny-dark last-of-type:ny-hidden">
        {%endif%}
        {% if filteritem.name === "refine" %}
            <div class="">
                <h3 class="text-oswald ny-text-ny-gold ny-uppercase ny-text-base ny-mb-6">{{filteritem.name}}</h3>
            </div>
            <hr class="ny-my-8 ny-border-ny-dark last-of-type:ny-hidden">
        {%endif%}
        {% if filteritem.name === "date" %}
            <div class="ny-border-b ny-border-solid ny-border-0 last-of-type:ny-border-b-0 ny-border-white">
                <h3 class="text-oswald ny-text-ny-gold ny-uppercase ny-text-base ny-mb-6">{{filteritem.name}}</h3>
            </div>
            <hr class="ny-my-8 ny-border-ny-dark last-of-type:ny-hidden">
        {%endif%}
    {%endfor%}
</div>