{% macro nav(params) %}
  {%- include "./gnavigation/_template.njk" -%}
{% endmacro %}
{% macro footer(params) %}
  {%- include "./gfooter/_template.njk" -%}
{% endmacro %}
{% macro unav(params) %}
  {%- include "./unav/_template.njk" -%}
{% endmacro %}
{% macro unavcurrent(params) %}
  {%- include "./unavcurrent/_template.njk" -%}
{% endmacro %}
{% macro unavcurrentfooter(params) %}
  {%- include "./unavcurrentfooter/_template.njk" -%}
{% endmacro %}
{% macro question(params) %}
  {%- include "./question/_template.njk" -%}
{% endmacro %}
{% macro service(params) %}
  {%- include "./service/_template.njk" -%}
{% endmacro %}
{% macro translate(params) %}
  {%- include "./translate/_template.njk" -%}
{% endmacro %}

       
       