<nav class="nygovernor-main-navigation">
    <div class="mobile-nav" style="display: none; width: 0px;">
        <h2 class="o-governorGlobalMenu__title">
            <a href="/">
                <span>
                    GOVERNOR &nbsp;
                    <span class="name">HOME</span>
                </span>
                <span class="icon-right-chevron"></span>
            </a>
        </h2>
        <div class="o-governorGlobalMenu__menu">
            <ul class="menu">
                <li class="leaf">
                    <span class="menuItems closed">
                        <a href="/news">Pressroom</a>
                        <span class="icon-right-chevron"></span>
                    </span>
                </li>

                <li class="leaf">
                    <span class="menuItems closed">
                        <a href="/schedule">Schedule</a>
                        <span class="icon-right-chevron"></span>
                    </span>
                </li>

                <li class="leaf">
                    <span class="menuItems closed">
                        <a href="/executive-orders">Executive Orders</a>
                        <span class="icon-right-chevron"></span>
                    </span>
                </li>

                <li class="leaf">
                    <span class="menuItems closed">
                        <a href="/legislation">Legislation</a>
                        <span class="icon-right-chevron"></span>
                    </span>
                </li>

                <li class="leaf">
                    <span class="menuItems closed">
                        <span class="noLink">
                            About
                        </span>
                        <span class="icon-right-chevron"></span>
                    </span>
                    <ul class="submenu" style="display: none;">
                        <li>
                            <span>
                                <a href="/about-governor-hochul">Governor Kathy Hochul</a>
                                <span class="icon-right-chevron"></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="https://www.governor.ny.gov/lt-governor-antonio-delgado">Lt. Governor Antonio Delgado</a>
                                <span class="icon-right-chevron"></span>
                            </span>
                        </li>
                    </ul>
                </li>

                <li class="leaf">
                    <span class="menuItems closed">
                        <a href="/content/governor-contact-form">Contact</a>
                        <span class="icon-right-chevron"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="o-governorGlobalMenu__wrapper" style="margin-left: 0px;">
        <div class="o-governorGlobalMenu__offcanvas-trigger icon-bars"></div>
        <h1 class="o-governorGlobalMenu__title">
            <a href="/">
                GOVERNOR
                <span class="name">KATHY HOCHUL</span>
            </a>
        </h1>
        <div class="o-governorGlobalMenu__menu">
            <ul class="menu">
                <li class="leaf">
                    <a href="/news">Pressroom</a>
                </li>

                <li class="leaf">
                    <a href="/schedule">Schedule</a>
                </li>

                <li class="leaf">
                    <a href="/executive-orders">Executive Orders</a>
                </li>

                <li class="leaf">
                    <a href="/legislation">Legislation</a>
                </li>

                <li class="leaf" tabindex="0">
                    <span class="noLink">
                        About
                    </span>
                    <ul class="submenu">
                        <li>
                            <a href="/about-governor-hochul">Governor Kathy Hochul</a>
                        </li>
                        <li>
                            <a href="https://www.governor.ny.gov/lt-governor-antonio-delgado">Lt. Governor Antonio Delgado</a>
                        </li>
                    </ul>
                </li>

                <li class="leaf">
                    <a href="/content/governor-contact-form">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
