<div class="footer-navigations">
    <div class="o-footerMenu__wrapper">
        <h2 class="o-footerMenu__title">Governor Kathy Hochul</h2>

        <ul class="o-footerMenu__links">
            <li class="o-footerMenu__link">
                <a href="/about-governor-hochul">About</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/accessibility">Accessibility</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/content/governor-contact-form">Contact</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/website-disclaimer">Disclaimer</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/executive-orders">Executive Orders</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/freedom-information-law-foil-requests">Freedom of Information Law (FOIL)</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/programs">Governor's Programs</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/judicial-screening">Judicial Screening</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="https://ogs.ny.gov/office-language-access">Language Access</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/legislation">Legislation</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/news">Pressroom</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li class="o-footerMenu__link">
                <a href="/schedule">Schedule</a>
            </li>
        </ul>
    </div>

    <div class="o-connectFooterMenu">
        <div class="o-connectFooterMenu__title">CONNECT WITH US</div>
        <div class="o-connectFooterMenu__wrapper">
            <div class="o-connectFooterMenu__socials">
                <div class="o-connectFooterMenu__socialLink -first">
                    <a class="m-socialLink__link text-bold" href="https://www.facebook.com/govkathyhochul">
                        <span class="m-socialLink__icon icon-facebook text-primary-light-blue"></span>
                        <span class="m-socialLink__linkText text-extra-bold">facebook</span>
                    </a>
                </div>

                <div class="o-connectFooterMenu__socialLink">
                    <a class="m-socialLink__link text-bold" href="https://twitter.com/govkathyhochul">
                        <span class="m-socialLink__icon icon-twitter text-primary-light-blue"></span>
                        <span class="m-socialLink__linkText text-extra-bold">twitter</span>
                    </a>
                </div>

                <div class="o-connectFooterMenu__socialLink">
                    <a class="m-socialLink__link text-bold" href="https://www.youtube.com/channel/UCQJp4eSJgbFroNySGthEiqA">
                        <span class="m-socialLink__icon icon-youtube text-primary-light-blue"></span>
                        <span class="m-socialLink__linkText text-extra-bold">youtube</span>
                    </a>
                </div>

                <div class="o-connectFooterMenu__socialLink">
                    <a class="m-socialLink__link text-bold" href="https://www.flickr.com/photos/govkathyhochul/">
                        <span class="m-socialLink__icon icon-flickr text-primary-light-blue"></span>
                        <span class="m-socialLink__linkText text-extra-bold">flickr</span>
                    </a>
                </div>

                <div class="o-connectFooterMenu__socialLink -last">
                    <a class="m-socialLink__link text-bold" href="https://www.instagram.com/govkathyhochul/">
                        <span class="m-socialLink__icon icon-instagram text-primary-light-blue"></span>
                        <span class="m-socialLink__linkText text-extra-bold">instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
