<h2 class="ny-flex ny-flex-col ny-items-center ny-m-0">
    <span class="text-oswald ny-uppercase ny-text-base ny-tracking-[2px]">Keyword</span>
    <span class="ny-text-5xl ny-mt-[10px] ny-text-white ny-font-extrabold">{{params.keyword}}</span>
</h2>
